<div class="container mt-4">
  <h2>Resultados de: <span class="text-primary">{{ terminoBusqueda }}</span></h2>
  
  <div class="row mt-3">
    @for (artista of api.datos(); track artista.id) {
      <div class="col-6 col-md-3 mb-4">
        <div class="card h-100 shadow-sm border-0">
          
          <img [src]="artista.picture_medium" class="card-img-top" [alt]="artista.name">
          
          <div class="card-body text-center">
            <h5 class="card-title">{{ artista.name }}</h5>
            
            <a [routerLink]="['/artista', artista.id]" class="btn btn-primary btn-sm w-100">
              Ver Canciones
            </a>
          </div>

        </div>
      </div>
    } @empty {
      <div class="col-12 text-center mt-5">
        <p class="text-muted">No encontramos artistas con ese nombre 😢</p>
      </div>
    }
  </div>
</div>