<div style="text-align: center; padding: 20px;">
  <h1>Buscador de Artistas (Deezer)</h1>

  <input #artista type="text" placeholder="Escribe un artista">
  <button (click)="onBuscarArtista(artista.value)">Buscar ahora</button>

  <input #cancion type="text" placeholder="Escribe una cancion">
  <button (click)="onBuscarCancion(cancion.value)">Buscar ahora</button>


@if (todos_los_datos()) {
  
  @if (todos_los_datos().name) {
    <div class="tarjeta-artista">
      <h2>Artista: {{ todos_los_datos().name }}</h2>
      <p>Fans: {{ todos_los_datos().nb_fan }}</p>
    </div>
  }

  @if (todos_los_datos().title) {
    <div class="tarjeta-cancion">
      <h2>Canción: {{ todos_los_datos().title }}</h2>
      <p>Álbum: {{ todos_los_datos().album.title }}</p>
    </div>
  }

} @else {
  <p>Esperando búsqueda...</p>
}
</div>