<div class="container text-center mt-5">

  <h1 class="display-4 fw-bold">¡Bienvenido a MusicaApp! 🎵</h1>
  <h5 class="text-muted mx-auto" style="max-width: 600px;">
      Esto es una aplicación web creada por Carlos Norte, la cual ha hecho en Anular usando la API de Deezer para mostrar 
      información sobre artistas, álbumes y canciones.
  </h5>


  <h2>Artistas Destacados</h2>

  @if (datos.datos().length > 0) {
    
    <div class="d-flex align-items-center justify-content-center gap-4 mt-4 mb-5">

      <button class="btn btn-outline-primary rounded-circle p-3" (click)="anterior()"><</button>

      <div class="card shadow-lg border-0" style="width: 18rem;">
        
        <img [src]="datos.datos()[indiceActual()].picture_medium" 
             class="card-img-top" 
             [alt]="datos.datos()[indiceActual()].name">
        
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ datos.datos()[indiceActual()].name }}</h5>
          <p class="card-text text-muted">Posición {{ indiceActual() + 1 }}</p>
          
          <a [routerLink]="['/artista', datos.datos()[indiceActual()].id]" 
             class="btn btn-primary w-100">
            Ver Perfil
          </a>
        </div>
      </div>

      <button class="btn btn-outline-primary rounded-circle p-3" (click)="siguiente()">></button>
    </div>


  } @else {
    <p>Cargando carrusel...</p>
  }

</div>